@model SpellByte.Web.ViewModels.Effect.IndexViewModel

<div class="form-horizontal">
    <h4>Effects</h4> - <a asp-action="Create">Create</a>
    <hr />
    <table class="table table-responsive">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Type</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var effect in Model.Effects)
            {
                <tr>
                    <td>@effect.Name</td>
                    <td>@effect.Description</td>
                    <td>@effect.Type</td>
                    <td>
                        <a asp-action="Display" asp-route-id="@effect.Id">View</a> |
                        <a asp-action="Edit" asp-route-id="@effect.Id">Edit</a> |
                        <a asp-action="Delete" asp-route-id="@effect.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>